<h1>Edit Todo</h1>
<form>
  <div class="form-group">
    <label>Task Description</label>
    <!-- TODO: Hook up this form to our JS for submitting -->
    <input type="text" class="form-control" placeholder="{{selectedItem.task}}" ng-model="editedTask.task" />
  </div>
  <div class="form-group">
    <label>Due Date</label>
    <input type="text" class="form-control" placeholder="{{selectedItem.dueDate}}" ng-model="editedTask.dueDate" />
  </div>
  <div class="form-group">
    <label>Assigned To</label>
    <input type="text" class="form-control" placeholder="{{selectedItem.assignedTo}}" ng-model="editedTask.assignedTo"/>
  </div>
  <div class="form-group">
    <label>Location</label>
    <input type="text" class="form-control" placeholder="{{selectedItem.location}}" ng-model="editedTask.location"/>
  </div>
  <div class="form-group">
    <label>Urgency</label>
    <input type="text" class="form-control" placeholder="{{selectedItem.urgency}}" ng-model="editedTask.urgency"/>
  </div>
  <div class="form-group">
    <label>Dependencies</label>
    <input type="text" class="form-control" placeholder="{{selectedItem.dependencies}}" ng-model="editTask.dependencies"/>
  </div>
  <!-- TODO: bind this button to a function -->
  <button class="btn btn-default" ng-click="addEditedItem()">Submit</button>
</form>